{% include 'header.html' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h5 class="display-3"><code>print("Hello, World!")</code></h5>
        {% if status != 'bad' %}
        <h6 class="text-center"><code>{{ event_info.get('name') }}</code></h6>
        <p>You are now fully registered for {{ event_info.get('name') }}!</p>
        {% else %}
        <h6 class="text-center">I do not know about that <code>Registration key</code>.</h6>
        <br /><br />
        <p>Maybe try again using the signup links above?</p>
        {% endif %}
        
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          
{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}





        </div>

      </div>

      <hr>
    </div> <!-- /container -->
     <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">Powered By: <a href="https://codewarz.ninja/info#Curmudgeon">Curmudgeon</a></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../static/js/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static',filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
